.skewed {
  position: absolute;
  top: -8px;
  left: 16px;
  width: calc(100% - 32px);
  height: 328px;
  border-radius: 4px 4px 0 0;
  background-color: currentColor;
  transform: skewY(-3deg);
  transition: all .5s ease-out;
  z-index: -1;
}

.dark-mode { background: #16161A; }

/** Svg elements */
.circle-pink::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYWFlMmU4OGMtMzFlNi00MzdlLWE3YmQtNDdlNTEzNWJiNzE0IiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAuMzUgOTgiPjxwYXRoIGQ9Ik00OSw5OGE0OS4xMSw0OS4xMSwwLDAsMS01LTk4LDYuOTEsNi45MSwwLDAsMSwxLjQyLDEzLjc1QTM1LjI5LDM1LjI5LDAsMSwwLDUyLjczLDg0YTYuOTEsNi45MSwwLDAsMSwxLjQyLDEzLjc0QTQ5LjI2LDQ5LjI2LDAsMCwxLDQ5LDk4WiIgZmlsbD0iI2YxNjA3YyIvPjxyZWN0IHg9Ii01NC4yNSIgeT0iLTY0LjQxIiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJub25lIi8+PC9zdmc+);
}

.w-pink::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iZjIxZDIzYzAtZmJkZi00MDgwLWE5ZjctMDcyZGQ1NjBhMDBiIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTMwLjAzIDU3Ljc1Ij48cGF0aCBkPSJNMzguNjUsNTcuNzVhNS4xLDUuMSwwLDAsMS0zLjc1LTEuNjRMMS4zNCwxOS41OUE1LjA5LDUuMDksMCwwLDEsOC44MywxMi43TDM3Ljg4LDQ0LjMyLDYwLjY3LDcuOTJhNS4wOCw1LjA4LDAsMCwxLDgtLjc1bDI5LjEsMzEuNjJMMTIwLjY0LDIuMzhhNS4wOSw1LjA5LDAsMCwxLDguNjIsNS40TDEwMi45LDQ5LjgzYTUuMSw1LjEsMCwwLDEtOC4wNS43NUw2NS43NSwxOSw0Myw1NS4zNmE1LjExLDUuMTEsMCwwLDEtMy44NSwyLjM3WiIgZmlsbD0iI2YxNjA3YyIvPjxyZWN0IHg9Ii0yODcuNzMiIHk9Ii0xMTQuNjgiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjE0NDAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=)
}

.l-pink::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYTFhZGMwYTMtYzZhNy00NWJmLTllNmMtNDlmZWU5ZTZiOTliIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjcuODkgMTAyLjI5Ij48cGF0aCBkPSJNMjIsMTAyLjI5YTUuOTEsNS45MSwwLDAsMS01LjgyLTQuODhMLjA5LDdBNS45Miw1LjkyLDAsMCwxLDExLjc0LDQuODlMMjcuOCw5NS4zNUE1LjkxLDUuOTEsMCwwLDEsMjMsMTAyLjIsNS4yOSw1LjI5LDAsMCwxLDIyLDEwMi4yOVoiIGZpbGw9IiNmMTYwN2MiLz48cmVjdCB4PSItMzA3LjE5IiB5PSItMzQ2LjE4IiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJub25lIi8+PC9zdmc+)
}

.circle-blue::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iZmJmYTk4ODItNzYxYy00MDFkLWI5NDUtYWY0YjNiNGRmZTU4IiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDMuMTcgNDAuMTciPjxwYXRoIGQ9Ik0zMi44Niw0MC4xN2E2LjksNi45LDAsMCwxLTUuNDctMTEuMTIsOS40Nyw5LjQ3LDAsMSwwLTE1LTExLjU1LDYuOTEsNi45MSwwLDEsMS0xMS04LjQzQTIzLjI5LDIzLjI5LDAsMCwxLDM4LjM0LDM3LjQ4LDYuODYsNi44NiwwLDAsMSwzMi44Niw0MC4xN1oiIGZpbGw9IiM0MWExZGEiLz48cmVjdCB4PSItMTg1LjE3IiB5PSItMTAuNTciIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjE0NDAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
}

.w-blue::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYjg3YjI3NmItNjk0NS00Yjk1LTk3YTItYzk3YTMxMjM1ZmJlIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjYuNTEgOTcuNyI+PHBhdGggZD0iTTQxLjk0LDk3LjdhNS4wOCw1LjA4LDAsMCwxLTQuNDEtNy42MUw1My43LDYxLjkzLDIyLjI1LDUzLjhhNS4wOSw1LjA5LDAsMCwxLTMuMTQtNy40NWwxNi4xNi0yOC4yTDMuODEsMTBBNS4wOSw1LjA5LDAsMSwxLDYuMzYuMTZMNDQuMjcsMTBhNS4wOCw1LjA4LDAsMCwxLDMuMTMsNy40NUwzMS4yNSw0NS42Miw2Mi43LDUzLjc2YTUuMDgsNS4wOCwwLDAsMSwzLjEzLDcuNDVMNDYuMzUsOTUuMTVBNS4wNyw1LjA3LDAsMCwxLDQxLjk0LDk3LjdaIiBmaWxsPSIjNDFhMWRhIi8+PHJlY3QgeD0iLTM4NC41MSIgeT0iLTI2MC42IiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJub25lIi8+PC9zdmc+);
}

.l-blue::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYjI3NWVmNTEtZTA5Zi00NDg1LWI5YTMtZWJmYTU4ZGU4OGY3IiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjAuMDQgMTAwLjgiPjxwYXRoIGQ9Ik0xNC4xMiwxMDAuOGE1LjkxLDUuOTEsMCwwLDEtNS44OC01LjM3TDAsNi40NkE1LjkxLDUuOTEsMCwxLDEsMTEuOCw1LjM4bDguMjEsODlhNS45MSw1LjkxLDAsMCwxLTUuMzQsNi40M1oiIGZpbGw9IiM0MWExZGEiLz48cmVjdCB4PSItMjQwLjA5IiB5PSItNTcwLjUiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjE0NDAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
}

.circle-yellow::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYjg4YTc4MDAtYmViYS00ZWZiLTgxYWUtZTc5MjI2YTRlZGUyIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgOTQuMTkgMTE3LjAzIj48cGF0aCBkPSJNNzYuOTQsMTguODhhNjEuNzYsNjEuNzYsMCwwLDEtMTUuNTgsOTcuMzVBNi45MSw2LjkxLDAsMCwxLDU0Ljg5LDEwNCw0Ny44Niw0Ny44NiwwLDEsMCwxMC4xNSwxOS40LDYuOTEsNi45MSwwLDEsMSwzLjY4LDcuMTksNjEuNzQsNjEuNzQsMCwwLDEsNzYuOTQsMTguODhaIiBmaWxsPSIjZmVkOTJhIi8+PHJlY3QgeD0iLTM3OS43NiIgeT0iLTUwNS45MiIgd2lkdGg9IjI1NjAiIGhlaWdodD0iMTQ0MCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

.w-yellow::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYTE3OTAwMmEtNDFlOC00MGQwLWFjODQtY2IxOTVlZDI4ZTFhIiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNzguNzMgODIuMTEiPjxwYXRoIGQ9Ik03NS45MSwzLjMyYTUuMDgsNS4wOCwwLDAsMS0yLjY0LDkuNjJMNDIsMTAuNjRsNi4wOCwzMC44MWE1LjA4LDUuMDgsMCwwLDEtNS4zNiw2TDExLjM2LDQ1LjIybDYuMDcsMzAuODNhNS4wOSw1LjA5LDAsMCwxLTEwLDJMLjEsNDAuNjVhNS4wOCw1LjA4LDAsMCwxLDUuMzUtNmwzMS4zMywyLjI4TDMwLjcsNi4wN0E1LjEsNS4xLDAsMCwxLDM2LjA2LDBMNzQsMi44QTUsNSwwLDAsMSw3NS45MSwzLjMyWiIgZmlsbD0iI2ZlZDkyYSIvPjxyZWN0IHg9Ii0xNzEuMzgiIHk9Ii00NTguMTYiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjE0NDAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
}

.l-yellow::before {
  content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYjIwNTAwNDAtYWZhYS00OTNlLWEyNWMtODIzNWQ2ZTNjNGM5IiBkYXRhLW5hbWU9IkNhcGEgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNzcuMzkgMzEuODYiPjxwYXRoIGQ9Ik03MS40NywzMS44NmE1LjgxLDUuODEsMCwwLDEtMS43My0uMjZsLTY1LjU1LTIwQTUuOTIsNS45MiwwLDAsMSw3LjY0LjI2bDY1LjU2LDIwYTUuOTIsNS45MiwwLDAsMS0xLjczLDExLjU4WiIgZmlsbD0iI2ZlZDkyYSIvPjxyZWN0IHg9Ii0zMTQuMDYiIHk9Ii02ODguODYiIHdpZHRoPSIyNTYwIiBoZWlnaHQ9IjE0NDAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
}