@tailwind base;
@tailwind components;
@tailwind utilities;

.token.comment {
  @apply text-gray-400;
}

.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-200;
}

.token.punctuation {
  @apply text-gray-200;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-300;
}

.token.function,
.token.class-name {
  @apply text-rose-400 font-semibold;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-400;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-200;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply border-2 border-gray-700;
}

.rehype-code-title {
  @apply px-7 py-2 font-mono text-sm font-bold text-gray-100 bg-gray-700 border border-b-0 border-gray-700 rounded-t-lg;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500;
}